<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <title>Document</title> -->
    <link rel="stylesheet" href="{% static 'css/Home.css' %}">
</head>
<body>

  <div class="chart">
    <div class="container container1">
      <div class="row mb-80px">
        <div class="col-6 chartb">
          <div class="width-400px">
              <canvas id="myChart1"></canvas>
          </div>
        </div>
        <div class="col-6 chartb">
          <div class="width-400px"> 
              <canvas id="myChart2"></canvas>
          </div>
        </div>
      </div>

      <div class="row mb-80px">
        <div class="col-6">
          <div class="width-400px chartb">
              <canvas id="myChart3"></canvas>
          </div>
        </div>
        <div class="col-6 bg-success">
              <div class="container"> 
                <div class="row"> 
                  <div class="col-7 "> 
                    <canvas id="myChart4"></canvas>
                  </div> 
                </div> 
              </div> 
        </div>
      </div>

      <div class="row ">
        <div class="col-6 ">
          <div class="width-400px">
              <canvas id="myChart1"></canvas>
          </div>
        </div>
        <div class="col-6 chartb">
          <div class="width-400px"> 
              <canvas id="myChart2"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
    
    
    




    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/Chart.js' %}"></script>
    <script src="{% static 'js/JsonData.js' %}"></script>
      
 
  
</body>
</html>  